/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding-top: 80px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.appeal {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.wrap {
  flex-wrap: wrap;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #757575;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header__contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__contact-item:not(:last-child):not(:last-child) {
  margin-right: 50px;
}

.header__contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover, .header__contact-link:focus {
  color: #2196f3;
}

.header__contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-link:hover .header__contact-icon,
.header__contact-link:focus .header__contact-icon {
  fill: #2196f3;
}

.header__contact-icon--envelope {
  width: 16px;
  height: 12px;
}

.header__contact-icon--smartphone {
  width: 10px;
  height: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  border: 1px solid #000000;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantages {
  padding-bottom: 0;
}

.advantages__item {
  width: calc((100% - 90px) / 4);
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item::before {
  content: "";
  margin-bottom: 30px;
  height: 120px;
  display: block;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages__item--antena::before {
  background-image: url(../img/antenna.svg);
}

.advantages__item--clock::before {
  background-image: url(../img/clock.svg);
}

.advantages__item--vector::before {
  background-image: url(../img/vector.svg);
}

.advantages__item--astronaut::before {
  background-image: url(../img/astronaut.svg);
}

.advantages__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.advantages__item-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  line-height: 1.71;
}

.work__item:not(:last-child) {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.work__item-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.work__absolute {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
}

.team__member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__member:not(:last-child) {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__member-name {
  margin-top: 0;
  color: #212121;
  font-weight: 500;
}

.team__member-position {
  color: #757575;
  margin-bottom: 0;
  margin-top: 0;
}

.clients__item {
  box-sizing: border-box;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid;
  border-color: #2196f3;
}

.clients__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__logo-1 {
  width: 44px;
  height: 50px;
}

.clients__logo-2 {
  width: 40px;
  height: 52px;
}

.clients__logo-3 {
  width: 41px;
  height: 43px;
}

.clients__logo-4 {
  width: 80px;
  height: 42px;
}

.clients__logo-5 {
  width: 59px;
  height: 47px;
}

.clients__logo-6 {
  width: 88px;
  height: 45px;
}

.footer {
  background-color: #2f303a;
  line-height: 1.71;
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address {
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}

.join {
  margin-left: 70px;
}

.join__social-item {
  width: 44px;
  height: 44px;
  display: block;
}

.join__social-item:not(:last-child) {
  margin-right: 10px;
}

.join__social-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__social-link:hover, .join__social-link:focus {
  background: #2196f3;
}

.join__social-link::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.join__social-link--instagram::before {
  background-image: url(../img/instagram.svg);
}

.join__social-link--twitter::before {
  background-image: url(../img/twitter.svg);
}

.join__social-link--facebook::before {
  background-image: url(../img/facebook.svg);
}

.join__social-link--linkedin::before {
  background-image: url(../img/linkedin.svg);
}

.subscription-form {
  display: flex;
  width: 570px;
  margin-left: 93px;
}

.subscription-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-form .subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form .button--primary {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.selector {
  justify-content: center;
  margin-bottom: 50px;
}

.selector__item:not(:last-child) {
  margin-right: 8px;
}

.card {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(173, 167, 167, 0.2);
}

.card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card__relative {
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay {
  opacity: 1;
  transform: translateY(0%);
}

.card__hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card__text-content {
  padding: 20px 24px;
  font-size: 16px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 221px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px 45px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon {
  fill: #2196f3;
}

.form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__fieldset .form__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form__checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
}

.form__checkbox-check {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../img/checkbox.svg);
}

.form__input-checkbox:checked + .form__checkbox-check {
  background-image: url(../img/icon-check.svg);
}

.form__agreement {
  color: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button {
  font-family: inherit;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  border-color: transparent;
  cursor: pointer;
  outline: #2196f3;
}

.button--primary {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.button--secondary {
  min-width: 73px;
  padding: 6px 22px;
  border-color: transparent;
  color: #212121;
  background-color: var(--prymary-bgc-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover, .button--secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  margin-right: 93px;
}

.logo--accent {
  color: #2196f3;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #2196f3;
  font-style: normal;
  margin-right: 0;
}

.footer__logo--accent {
  color: #ffffff;
}

.page-nav {
  align-items: center;
}

.page-nav__item:not(:last-child) {
  margin-right: 50px;
}

.page-nav__item--current {
  position: relative;
}

.page-nav__item--current::after {
  position: absolute;
  bottom: -8px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  display: inline-block;
}

.page-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover, .page-nav__link:focus {
  color: #2196f3;
}

.page-nav__link--current {
  color: #2196f3;
}

.social-list {
  margin-top: 16px;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #757575;
}
/*# sourceMappingURL=main.css.map */